// Global Vars
$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";


// Theme Custimzation

$HeroImage: 	"../images/hero-image.jpg";
$HeroEmbed:		auto;
$HeroHeight:	600px;
$HeroPosition:	center -100px;

$LogoSmall:			"../images/logo_small.png";
$LogoSmallHeight: 	40px;
$LogoSmallWidth:	138px;


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

$BaseColor:		#70735F;

$gray-darker:	darken($BaseColor, 40%);
$gray-dark:     darken($BaseColor, 20%);
$gray:          lighten($BaseColor, 20%);
$gray-light:    lighten($BaseColor, 40%);
$gray-lighter:  lighten($BaseColor, 50%);


$brand-primary:         #cc1220;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

//** Background color for `<body>`.
$body-bg:               	lighten($gray-lighter, 8%);
//** Global text color on `<body>`.
$text-color:            	$gray-dark;

//** Global textual link color.
$link-color:            	$gray-lighter;
//** Link hover color set via `darken()` function.
$link-hover-color:      	darken($link-color, 15%);

//** Global color for active items (e.g., navs or dropdowns).
$component-active-color:	$gray-lighter;
//** Global background color for active items (e.g., navs or dropdowns).
$component-active-bg:       $gray-dark;


//** Nav Links
$nav-pills-hover-color:			$gray-lighter;
$nav-pills-active-bg-color:		transparent !important;
$border-radius-base:			0px;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:  'Roboto', Helvetica, Arial, sans-serif;

$font-size-base:          14px !default;
$font-size-large:         ceil(($font-size-base * 2)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.75)) !default; // ~12px

$font-size-h1:            floor(($font-size-large * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px


//Spacings
$spacer-small:	15px;
$spacer:		30px;
$spacer-big:	60px;
