// Hero

.hero {
  background: url($HeroImage) no-repeat 0 0;
  background-size: $HeroEmbed;
  background-position: $HeroPosition;
  height: $HeroHeight;

  & .content {

  	color: $gray-lighter;
  	padding-top: 10%;

  	& h1 {
  		font-weight: 100;
  	} 
  }
}

