// Navigation

.header {
	.logo {
	  background: url($LogoSmall) no-repeat 0 0;
	  height: $LogoSmallHeight;
	  width: $LogoSmallWidth;
	  margin: 10px 0;
	}

	.btn {
		margin-left: $spacer-small;
	}
}

.nav-pills {
	li {

		&.active > a{
			background-color: $nav-pills-active-bg-color;
			border-bottom: 1px $component-active-color solid;
		}

		& > a {
			&:hover, &.focus {
				color: $gray-darker !important;
				border-bottom: none;
			}
		}
	}
}

