
//Vars
@import 'custom-variables';
@import 'hero';
@import 'trustbanner';
@import 'navigation';


// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */


/* Colorpalette */

.cl_1 { background-color: $gray-darker; height:30px;}
.cl_2 { background-color: $gray-dark; height:30px;}
.cl_3 { background-color: $BaseColor; height:30px;}
.cl_4 { background-color: $gray; height:30px;}
.cl_5 { background-color: $gray-light; height:30px;}
.cl_6 { background-color: $gray-lighter; height:30px;}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

